In [49]:
import pandas as pd
import numpy as np

In [50]:
pwd

'C:\\Users\\nirdo'

In [51]:
unicorn_companies = pd.read_csv('C:\\Users\\nirdo\\Desktop\\Unicorn_Companies.csv')

In [52]:
unicorn_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [53]:
unicorn_companies.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [54]:
unicorn_companies.City = unicorn_companies.City.fillna(method='ffill', axis=0)

In [55]:
unicorn_companies['Select Investors']= unicorn_companies['Select Investors'].fillna(method='ffill', axis=0)

In [56]:
unicorn_companies.loc[:,['Valuation', 'Funding']] = unicorn_companies.loc[:,['Valuation', 'Funding']].replace('[^0-9]','', regex=True).replace('',np.nan, regex=True).dropna(subset=['Valuation', 'Funding'])\
                  .astype(int)

C:\Users\nirdo\AppData\Local\Temp\ipykernel_5736\3287824463.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  unicorn_companies.loc[:,['Valuation', 'Funding']] = unicorn_companies.loc[:,['Valuation', 'Funding']].replace('[^0-9]','', regex=True).replace('',np.nan, regex=True).dropna(subset=['Valuation', 'Funding'])\

In [57]:
unicorn_companies.loc[:,['Valuation', 'Funding']] = unicorn_companies.loc[:,['Valuation', 'Funding']].fillna({
                 'Valuation':unicorn_companies.Valuation.mean(),
                 'Funding':unicorn_companies.Funding.mean()
})

In [58]:
unicorn_companies[unicorn_companies.isna().values]

Empty DataFrame
Columns: [Company, Valuation, Date Joined, Industry, City, Country, Continent, Year Founded, Funding, Select Investors]
Index: []

In [59]:
unicorn_companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   float64
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1074 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   float64
 9   Select Investors  1074 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 84.0+ KB

In [60]:
unicorn_companies.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.0,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002,7.0,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.0,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.0,"Institutional Venture Partners, Sequoia Capita..."

In [61]:
#roi = net income/cost of investment*100

In [62]:
unicorn_companies.loc[189,'Funding']=1

In [63]:
unicorn_companies['R.O.I'] = unicorn_companies['Valuation']/unicorn_companies['Funding']*100

In [64]:
unicorn_companies['R.O.I'] = unicorn_companies['R.O.I']

In [65]:
unicorn_companies.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,R.O.I
0,Bytedance,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.0,"Sequoia Capital China, SIG Asia Investments, S...",2250.000000
1,SpaceX,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002,7.0,"Founders Fund, Draper Fisher Jurvetson, Rothen...",1428.571429
2,SHEIN,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0,"Tiger Global Management, Sequoia Capital China...",5000.000000
3,Stripe,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.0,"Khosla Ventures, LowercaseCapital, capitalG",4750.000000
4,Klarna,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.0,"Institutional Venture Partners, Sequoia Capita...",1150.000000

In [66]:
unicorn_companies.set_index('Company', inplace=True)

In [67]:
big_roi = unicorn_companies['R.O.I'].idxmax()

In [68]:
#1
big_roi

'SHEIN'

In [69]:
unicorn_companies.loc['SHEIN',:]

Valuation                                                       100.0
Date Joined                                                2018-07-03
Industry                              E-commerce & direct-to-consumer
City                                                         Shenzhen
Country                                                         China
Continent                                                        Asia
Year Founded                                                     2008
Funding                                                           2.0
Select Investors    Tiger Global Management, Sequoia Capital China...
R.O.I                                                          5000.0
Name: SHEIN, dtype: object

In [70]:
unicorn_companies.Valuation.idxmax()

'Bytedance'

In [71]:
unicorn_companies.loc[:, 'Funding'].idxmax()

'Scopely'

In [72]:
#4
unicorn_companies[unicorn_companies.index=='Scopely']

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,R.O.I
Company,,,,,,,,,,
Scopely,3.0,2019-10-29,Mobile & telecommunications,Culver City,United States,North America,2011,999.0,"Greycroft, Sands Capital, Revolution Growth",0.3003

In [73]:
unicorn_companies[unicorn_companies.duplicated(subset=['Select Investors'])]

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,R.O.I
Company,,,,,,,,,,
Coalition,4.0,2021-03-17,Cybersecurity,San Francisco,United States,North America,2017,505.0,"Two Sigma Ventures, Flint Capital, Commerce Ve...",0.792079
Star Charge,2.0,2021-05-19,Auto & transportation,Changzhou,China,Asia,2014,125.0,"Shunwei Capital Partners, China Media Group, G...",1.600000
Unite Us,2.0,2021-03-16,Health,New York,United States,North America,2014,195.0,"Insight Partners, Sequoia Capital, Index Ventures",1.025641
MUSINSA,2.0,2019-11-11,E-commerce & direct-to-consumer,Seoul,South Korea,Asia,2001,287.0,Sequoia Capital,0.696864
Retool,2.0,2021-12-22,Internet software & services,San Francisco,United States,North America,2000,96.0,Sequoia Capital,2.083333
CoinSwitch Kuber,2.0,2021-10-06,Fintech,Bangalore,India,Asia,2017,301.0,"Tiger Global Management, Sequoia Capital India...",0.664452
Globality,1.0,2019-01-22,Artificial intelligence,Menlo Park,United States,North America,2015,310.0,SoftBank Group,0.322581
LinkSure Network,1.0,2015-01-01,Mobile & telecommunications,Shanghai,China,Asia,2013,52.0,Advent International,1.923077
Gymshark,1.0,2020-08-14,E-commerce & direct-to-consumer,Solihull,United Kingdom,Europe,2012,262.0,General Atlantic,0.381679
The Brandtech Group,1.0,2019-11-19,Other,New York,United States,North America,2015,610.0,Undisclosed,0.163934
UpGrad,1.0,2021-08-09,Edtech,Mumbai,India,Asia,2015,194.0,"Qualcomm Ventures, Accel, Canaan Partners",0.515464
Luoji Siwei,1.0,2017-07-20,Edtech,Beijing,China,Asia,2012,144.0,"Sequoia Capital China, Qiming Venture Partners...",0.694444
Guideline,1.0,2021-06-16,Fintech,San Mateo,United States,North America,2015,339.0,"Pelion Venture Partners, Foundation Capital, T...",0.294985
Feedzai,1.0,2021-03-24,Artificial intelligence,San Mateo,United States,North America,2009,277.0,"Global Founders Capital, Shea Ventures, Greycroft",0.361011
Savage X Fenty,1.0,2021-02-10,E-commerce & direct-to-consumer,El Segundo,United States,North America,2018,310.0,"Speedinvest, Valar Ventures, Uniqa Ventures",0.322581
Snorkel AI,1.0,2021-08-09,Artificial intelligence,Palo Alto,United States,North America,2019,135.0,"Greylock Partners, Google Ventures, BlackRock",0.740741

In [74]:
unicorn_companies['Select Investors'].value_counts().head(17)

Sequoia Capital                                                                                3
Pelion Venture Partners, Foundation Capital, Thoma Bravo                                       2
Insight Partners, Sequoia Capital, Index Ventures                                              2
Speedinvest, Valar Ventures, Uniqa Ventures                                                    2
Advent International                                                                           2
SoftBank Group                                                                                 2
Shunwei Capital Partners, China Media Group, Guangzhou Huiyin Aofeng Equity Investment Fund    2
General Atlantic                                                                               2
Qualcomm Ventures, Accel, Canaan Partners                                                      2
Sequoia Capital China, Qiming Venture Partners, Tencent Holdings                               2
Global Founders Capital, Shea Ventures, Greycroft                                              2
Greylock Partners, Google Ventures, BlackRock                                                  2
Tiger Global Management, Sequoia Capital India, Ribbit Capital                                 2
Undisclosed                                                                                    2
Two Sigma Ventures, Flint Capital, Commerce Ventures                                           2
Global Founders Capital, Comcast Ventures, Forerunner Ventures                                 1
Source Code Capital, Coatue Management, DCM Ventures                                           1
Name: Select Investors, dtype: int64

In [75]:
#4
unicorn_companies[unicorn_companies['Select Investors']=='Sequoia Capital']

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,R.O.I
Company,,,,,,,,,,
SSENSE,3.478343,2021-06-08,E-commerce & direct-to-consumer,Montreal,Canada,North America,2003,338.091337,Sequoia Capital,1.028817
MUSINSA,2.000000,2019-11-11,E-commerce & direct-to-consumer,Seoul,South Korea,Asia,2001,287.000000,Sequoia Capital,0.696864
Retool,2.000000,2021-12-22,Internet software & services,San Francisco,United States,North America,2000,96.000000,Sequoia Capital,2.083333

In [76]:
#3
unicorn_companies['Country'].value_counts()

United States           562
China                   173
India                    65
United Kingdom           43
Germany                  26
France                   24
Israel                   20
Canada                   19
Brazil                   16
Singapore                12
South Korea              12
Australia                 8
Hong Kong                 6
Mexico                    6
Indonesia                 6
Netherlands               6
Sweden                    6
Switzerland               5
Japan                     5
Ireland                   5
Finland                   4
Norway                    4
United Arab Emirates      3
Turkey                    3
Spain                     3
Belgium                   3
Chile                     2
South Africa              2
Philippines               2
Thailand                  2
Estonia                   2
Vietnam                   2
Austria                   2
Colombia                  2
Denmark                   2
Argentina                 1
Bermuda                   1
Lithuania                 1
Malaysia                  1
Senegal                   1
Bahamas                   1
Luxembourg                1
Nigeria                   1
Czech Republic            1
Croatia                   1
Italy                     1
Name: Country, dtype: int64

In [77]:
unicorn_companies.head()

,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors,R.O.I
Company,,,,,,,,,,
Bytedance,180.0,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.0,"Sequoia Capital China, SIG Asia Investments, S...",2250.000000
SpaceX,100.0,2012-12-01,Other,Hawthorne,United States,North America,2002,7.0,"Founders Fund, Draper Fisher Jurvetson, Rothen...",1428.571429
SHEIN,100.0,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.0,"Tiger Global Management, Sequoia Capital China...",5000.000000
Stripe,95.0,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.0,"Khosla Ventures, LowercaseCapital, capitalG",4750.000000
Klarna,46.0,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.0,"Institutional Venture Partners, Sequoia Capita...",1150.000000

In [78]:
unicorn_companies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1074 entries, Bytedance to Zwift
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Valuation         1074 non-null   float64
 1   Date Joined       1074 non-null   object
 2   Industry          1074 non-null   object
 3   City              1074 non-null   object
 4   Country           1074 non-null   object
 5   Continent         1074 non-null   object
 6   Year Founded      1074 non-null   int64
 7   Funding           1074 non-null   float64
 8   Select Investors  1074 non-null   object
 9   R.O.I             1074 non-null   float64
dtypes: float64(3), int64(1), object(6)
memory usage: 124.6+ KB

In [79]:
unicorn_companies[unicorn_companies['Valuation'].isna()]

Empty DataFrame
Columns: [Valuation, Date Joined, Industry, City, Country, Continent, Year Founded, Funding, Select Investors, R.O.I]
Index: []

In [80]:
np.count_nonzero(unicorn_companies.isna())

0

In [81]:
unicorn_companies[unicorn_companies.isna().values]

Empty DataFrame
Columns: [Valuation, Date Joined, Industry, City, Country, Continent, Year Founded, Funding, Select Investors, R.O.I]
Index: []

In [82]:
unicorn_companies.size

10740

In [83]:
unicorn_companies.Funding.mean()

338.0922681985081

In [84]:
np.count_nonzero(unicorn_companies.isna())

0